
@{
    ViewBag.Title = "CrearConstancia";
}

<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Constancia de Matrícula</b></h3></div><br />
   <h4>UNIVERSITY FROM DREAMS</h4><br />
    Semestre: 2018-1 <br />
    Estudiante: Lopez Giraldo Karla <br />
    Programa: GESIS<br />
    Situación Academica: Antiguo <br />
    Nivel:5 <br />
    Créditos Acomulados: 80 <br />

    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">
            <table class="table table-bordered">
                <tr>
                    <td align="center">CODIGO DE LA MATERIA</td>
                    <td align ="center">NOMBRE DE LA MATERIA</td>
                    <td align="center">CRÉDITOS</td>
                    <td align="center">MÁX. FALTAS</td>
                    <td align="center">AULA</td>
                    <td align="center">HORARIO</td>
</tr>
                <tr>
                    <td align="center">GSI-654-03</td>
                    <td align ="center"> Muestreo e inferencia estadistica</td>
                    <td align ="center"> 06</td>
                    <td align="center"> 10</td>
                    <td align="center"> 059-202</td>
                    <td align="center"> MJ8-10</td>
                </tr>

                <tr>
                    <td align="center">GSI-425-08</td>
                    <td align="center"> Economia de la salud</td>
                    <td align="center"> 04</td>
                    <td align="center"> 15</td>
                    <td align="center"> 059-305</td>
                    <td align="center"> MJ10-12</td>
                </tr>

                <tr>
                    <td align="center">GSI-725-04</td>
                    <td align="center"> Epidemiologia 1</td>
                    <td align="center"> 03</td>
                    <td align="center"> 13</td>
                    <td align="center"> 059-208</td>
                    <td align="center"> WV8-10</td>
                </tr>

                <tr>
                    <td align="center">GSI-159-06</td>
                    <td align="center"> Telematica</td>
                    <td align="center"> 04</td>
                    <td align="center"> 14</td>
                    <td align="center"> 059-304</td>
                    <td align="center"> WV6-8</td>
                </tr>


                <tr>
                    <td align="center">GSI-462-09</td>
                    <td align="center"> Gestion publica en salud</td>
                    <td align="center"> 03</td>
                    <td align="center"> 13</td>
                    <td align="center"> 059-323</td>
                    <td align="center"> MJ6-8</td>
                </tr>
       
            </table>
            <table align="right">
                <tr>
                    <td colspan="1" align="center"><a class="btn btn-success  active" role="button">Guardar</a> </td>
                    <td colspan="2" align="center"><a class="btn btn-success  active" role="button">Imprimir</a> </td>
                    <td colspan="3" align="center"><a href="http://localhost:52293/ReporteNotasConstancia/CrearReporteNotasConstancia" class="btn btn-success  active" role="button">Regresar</a> </td>
                </tr>
            </table>
        </form>
    </div>
</div>

