@{
    ViewBag.Title = "CrearInscripcionEstudiante";
}

<br />
<br />

<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Cursos</b></h3><h6>Fecha inicio: 02/02/2018<br>Fecha de Finalizacion: 28/06/2018</h6></div>
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">

            <table class="table table-bordered">
                <tr>
                    <td align="center"><h3>Alfonoso Marin</h3></td>
                    <td>
                        <ul>
                            <li>Metodos cuantitativos</li>
                            <li>Programacion</li>
                            <li>Modelos de datos sanitarios</li>
                            
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Fernan Villa</h3></td>
                    <td>
                        <ul>
                            <li>Teoria de la organizacion</li>
                            <li>Software 2</li>
                            <li>Ingenieria del software</li>
                            
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Nora Montealegre</h3></td>
                    <td>
                        <ul>
                            <li>Codificacion de Morbimortalidad</li>
                            <li>Registro Medicos</li>
                            <li>Indicadores de Salud</li>

                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Eugenio Paniagua</h3></td>
                    <td>
                        <ul>
                            <li>Estadistica descriptiva</li>
                            <li>Probabilidad</li>
                            <li>Muestreo e inferencia estadistica</li>
                            <li>Estadistica no parametrica</li>

                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Paula Diaz</h3></td>
                    <td>
                        <ul>
                            <li>Epidemiologia 1</li>
                            <li>Epidemiologia 2</li>
                       

                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>William Ortiz</h3></td>
                    <td>
                        <ul>
                            <li>Informatica Avanzada</li>
                           

                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Federico Ortiz</h3></td>
                    <td>
                        <ul>
                            <li>Telematica</li>


                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Fabio Leon</h3></td>
                    <td>
                        <ul>
                            <li>Demografia</li>
                            <li>Administracion de proyectos</li>


                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Jose Pablo Escobar</h3></td>
                    <td>
                        <ul>
                            <li>Seguridad Social</li>


                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Carlos Tangarife</h3></td>
                    <td>
                        <ul>
                            <li>Software 1</li>
                            <li>Sistemas de informacion</li>


                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Millerlady Aguirre</h3></td>
                    <td>
                        <ul>
                            <li>Finanzas Publicas</li>
                            <li>Saneamiento</li>


                        </ul>
                    </td>
                </tr>

</table>

</form>

    </div>
</div>