
@{
    ViewBag.Title = "CrearReporteNotasConstancia";
}

<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading"><h3><b>REPORTES</b></h3></div><br />  
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">
            <table class="table table-bordered">
                    <tr>
                        <td align="center" >
                            <h4>REPORTE DE NOTAS </h4>
                            <a href="http://localhost:52293/ReportesNotas/CrearReportesNotas" class="btn btn-success  active" role="button">VER</a>
                        </td>

                        <td align="center">
                            <h4>CONSTANCIA DE MATRÍCULA</h4>
                            <a href="http://localhost:52293/Constancia/CrearConstancia" class="btn btn-success  active" role="button">VER</a>

                        </td>
                    </tr>         
            </table>
        </form>
    </div>
</div>



