
@{
    ViewBag.Title = "CrearPensumAdministracionAmbiental";
}

<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Pénsum Administración en Salud con énfasis en Gestión Sanitaria y Ambiental</b></h3></div>
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">
            <table class="table table-bordered">
                <tr>
                    <td align="center"><h3>Semestre 1</h3></td>
                    <td>
                        <ul>
                            <li>Fundamentos de formación científica y Pensamiento creativo</li>
                            <li>Fundamentos de Lecto-Escritura</li>
                            <li>Fundamentos de Matemáticas</li>
                            <li>Formación Técnico Administrativa</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Semestre 2</h3></td>
                    <td>
                        <ul>
                            <li>Fundamentos de Análisis Económico</li>
                            <li>Gestión de Recursos</li>
                            <li>Prevención y Promoción de la Salud</li>
                            <li>Riesgos Ambientales y Laborales</li>
                        </ul>
                    </td>
                </tr>

 

                <tr>
                    <td align="center"><h3>Semestre 3</h3></td>
                    <td>
                        <ul>
                            <li>Ética y Valores</li>
                            <li>Gestión Financiera I</li>
                            <li>Métodos Epidemiológicos</li>
                            <li>Métodos de Investigación</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 4</h3></td>
                    <td>
                        <ul>
                            <li>Evaluación Social,ambiental y económica de Proyectos</li>
                            <li>Formación Ciudadana y Constitucional I</li>
                            <li>Gestión Financiera </li>
                            <li>Gestión de Proyectos</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Semestre 5</h3></td>
                    <td>
                        <ul>
                            <li>Factores de riesgo del Ambiente y del Consumo</li>
                            <li>Físico Hidráulico</li>
                            <li>Hidro Geomorfológico I</li>
                            <li>Químico Eco biológico</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 6</h3></td>
                    <td>
                        <ul>
                            <li>Abastos y Vertimientos sólidos y líquidos</li>
                            <li>Gestión Económica de los Recursos Naturales y Ambientales	</li>
                            <li>Hidro Geomorfológico II</li>
                            <li>Operación de sistemas de tratamiento</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Semestre 7</h3></td>
                    <td>
                        <ul>
                            <li>Control Interno Auditoría e Interventoría Sanitaria y Ambiental</li>
                            <li>Diseño Trabajo de Grado</li>
                            <li>Gestión de Procesos Sanitarios y Ambientales</li>
                            <li>Mercadeo y Calidad en Gestión Sanitaria y Ambiental</li>
                        </ul>
                    </td>
                </tr>

      
                <tr>
                    <td align="center"><h3>Semestre 8</h3></td>
                    <td>
                        <ul>
                            <li>Prácticas Académicas</li>
                            <li>Trabajo de Grado</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                <td colspan="4" align="right"><a href="http://localhost:52293/CarrerasProfesionales/CrearCarrerasProfesionales" class="btn btn-success  active" role="button">Regresar</a> </td>
                </tr>
            </table>
            
            
        </form>
    </div>
</div>

