@{
    ViewBag.Title = "CrearNotasEstudiantes";
}

<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Notas</b></h3></div>
    <br />
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">

            <table class="table table-bordered">

                <tr>
                    <td><h2>Asignaturas</h2></td>
                    <td><h2>Notas</h2></td>
                </tr>

                <tr>
                    <td>Salud Pública</td>
                    <td>4.0</td>
                </tr>

                <tr>
                    <td> Software I</td>
                    <td>3.0</td>
                </tr>

                <tr>
                    <td>Cálculo</td>
                    <td>2.9</td>
                </tr>

                <tr>
                    <td> Sociología de la Salud</td>
                    <td>1.3</td>
                </tr>

                <tr>
                    <td>    Demografía</td>
                    <td>4.2</td>
                </tr>

                <tr>
                    <td>Epidemiología I</td>
                    <td>3.8</td>
                </tr>


            </table>

        </form>

    </div>
</div>

