@{
    ViewBag.Title = "CrearPensum";
}
<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Pénsum Gerencia en Sistemas de Información en Salud</b></h3></div>
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">
            <table class="table table-bordered">
                <tr>
                    <td align="center"><h3>Semestre 1</h3></td>
                    <td>
                        <ul>
                            <li>Salud Publica</li>
                            <li>Matemáticas Discretas</li>
                            <li>Estadística Descriptiva</li>
                            <li>Español</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Semestre 2</h3></td>
                    <td>
                        <ul>
                            <li>Cálculo</li>
                            <li>Demografía</li>
                            <li>Sociología</li>
                            <li>Programación</li>
                        </ul>
                    </td>
                </tr>



                <tr>
                    <td align="center"><h3>Semestre 3</h3></td>
                    <td>
                        <ul>
                            <li>Muestreo e Inferencia Estadística</li>
                            <li>Economía de la Salud</li>
                            <li>Teoría de la Organización</li>
                            <li>Programación Matemática</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 4</h3></td>
                    <td>
                        <ul>
                            <li>Estadística no Paramétrica</li>
                            <li>Epidemiología I</li>
                            <li>Telemática</li>
                            <li>Gestión Pública en Salud</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 5</h3></td>
                    <td>
                        <ul>
                            <li>Ingeniería Económica</li>
                            <li>Seguridad Social</li>
                            <li>Finanzas en Salud</li>
                            <li>Gestión de Recursos</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 6</h3></td>
                    <td>
                        <ul>
                            <li>Ingeniería de Software</li>
                            <li>Saneamiento Ambiental</li>
                            <li>Planificación en Salud</li>
                            <li>Administración de Proyectos</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 7</h3></td>
                    <td>
                        <ul>
                            <li>Métodos Cuántitavos Aplicados</li>
                            <li>Ética</li>
                            <li>Sistemas de Información</li>
                            <li>Informática Avanzada</li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <td align="center"><h3>Semestre 8</h3></td>
                    <td>
                        <ul>
                            <li>Prácticas Académicas</li>
                            <li>Trabajo de Grado</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right"><a href="http://localhost:52293/CarrerasProfesionales/CrearCarrerasProfesionales" class="btn btn-success  active" role="button">Regresar</a> </td>
                </tr>
            </table>
        </form>
    </div>
</div>

