
@{
    ViewBag.Title = "CrearReportesNotas";
}

<h2>Reportes Notas</h2>
<h5>Numero de cedula: 1035918113</h5>
<h5>Semestre Academico: 4</h5>



<br />
<br />
<div class="panel panel-success">
    
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">


            <table class="table table-bordered">


                <tr>
                    <td align="center"><h2>Materia</h2></td>
                    <td align="center"><h2>Actividad</h2></td>
                    <td align="center"><h2>Nota</h2></td>

                    
                </tr>
                <tr>
                    <td align="center"><h3>Metodos Cuantitativos</h3></td>

                    <td>

                        <br> Trabajo grupal                    
                        <br> Examen parcial 1 
                        <br> Examen parcial 2
                        <br> Examen parcial 3 
                        <br> Trabajo final
                        <br> Examen final

                    </td>


                    <td align="center">
                        

                        <br> 2.3
                        <br> 3.3
                        <br> 2.0
                        <br> 4.0
                        <br> 3.0
                        <br> 2.5

                    </td>

                </tr>


                <tr>
                    <td align="center"><h3>Teoria de la organizacion</h3></td>

                    <td>

                        <br> Primer Entregable
                        <br> Segundo Entregable
                        <br> Tercer Entregable
                        <br> Examen Parcial 1
                        <br> Examen Parcial 2
                        <br> Examen final

                    </td>

                    <td align="center">
                        
                        <br> 5.0
                        <br> 4.0
                        <br> 5.0
                        <br> 4.2
                        <br> 3.1
                        <br> 2.5

                    </td>
                </tr>
                <tr>
                    <td align="center"><h3>Codificacion de morbimortalidad</h3></td>

                    <td>

                        <br> Examen parcial 1
                        <br> Examen parcial 2
                        <br> Seguimiento
                        <br> Seminario 1
                        <br> Seminario 2
                        <br> Examen final

                    </td>

                    <td align="center">

                        <br> 3.0
                        <br> 2.0
                        <br> 4.0
                        <br> 3.0
                        <br> 2.5

                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Estadistica Descriptiva</h3></td>

                    <td>

                        <br> Examen parcial 1
                        <br> Examen parcial 2
                        <br> Quiz 1
                        <br> Quiz 2
                        <br> Autoevaluacion
                        <br> Examen final

                    </td>

                    <td align="center">
                        <br> 3.0
                        <br> 5.0
                        <br> 3.0
                        <br> 5.0
                        <br> 3.0
                        <br> 2.5

                    </td>
                </tr>
                <tr>
                    <td align="center"><h3>Epidemiologia 1</h3></td>

                    <td>

                        <br> Examen parcial 1
                        <br> Examen parcial 2
                        <br> Quiz 1
                        <br> Quiz 2
                        <br> Seminario
                        <br> Examen final

                    </td>

                    <td align="center">
                        <br> 5.0
                        <br>  3.0
                        <br> 2.0
                        <br> 4.0
                        <br> 3.0
                        <br> 2.5

                    </td>
                </tr>
                <tr>
                    <td align="center"><h3>Informatica Avanzada</h3></td>

                    <td>

                        <br> Entregable 1
                        <br> Parcial 1
                        <br> Entregable 2
                        <br> Parcial 2
                        <br> Taller Final
                        <br> Examen final

                    </td>

                    <td align="center">
                        <br> 5.0
                        <br>  3.0
                        <br> 2.0
                        <br> 4.0
                        <br> 3.0
                        <br> 2.5

                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Demografia</h3></td>


                    <td>

                        <br> Seminario 1
                        <br> Seminario 2
                        <br> Seminario 3
                        <br> Seminario 4
                        <br> Taller Final
                        <br> Examen final

                    </td>

                    <td align="center">
                        <br> 5.0
                        <br> 3.8
                        <br> 2.3
                        <br> 4.0
                        <br> 3.3
                        <br> 2.5

                    </td>
                </tr>
                <tr>
                    <td align="center"><h3>Seguridad Social</h3></td>

                    <td>

                        <br> Seminario 1
                        <br> Seminario 2
                        <br> Taller 1
                        <br> Taller 2
                        <br> Parcial 1
                        <br> Examen final

                    </td>

                    <td align="center">
                        <br> 4.0
                        <br> 3.2
                        <br> 3.0
                        <br> 4.0
                        <br> 3.7
                        <br> 2.5

                    </td>
                </tr>
               
            </table>
        
                <table class="table table-bordered">
                    <tr>
                        <td colspan="4" align="right"><a href="" class="btn btn-success  active" role="button">Imprimir Registro</a> </td>
                        <td colspan="4" align="right"><a href="http://localhost:52293/ReporteNotasConstancia/CrearReporteNotasConstancia" class="btn btn-success  active" role="button">Regresar</a> </td>
                    </tr>
                </table>
            
        </form>
    </div>
</div>

