@{
    ViewBag.Title = "Contact";
}
<h2>Para contactarse con el equipo desarrollador:</h2>

<address>
    Natalia Cardona <br />
    Andrea Uribe <br />
    Andres Jimenez <br />
    Alejandra Restreopo <br />
</address>

<address>
    <strong>Support:</strong>   <a href="alejandra.restrepo4@udea.edu.co">alejandra.restrepo4@udea.edu.co</a><br />
    <strong>Developer I:</strong> <a href="jonathana.jimenez@udea.edu.co">jonathana.jimenez@udea.edu.co</a><br />
    <strong>Developer II:</strong> <a href="andrea.uribed@udea.edu.co">andrea.uribed@udea.edu.co</a> <br />
    <strong>Designer:</strong> <a href="natalia.cardona11@udea.edu.co">natalia.cardona11@udea.edu.co</a><br />
    
</address>