@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Registro Académico</h1>
    <br />
    <p><a href="http://localhost:52293/Estudiante/Crear" class="btn btn-success btn-large">Iniciar matricula</a></p>
    <p><a href="http://localhost:52293/Estudiante/Index" class="btn btn-success btn-large">Listado de matrículas</a></p>
</div>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td align="center"><h2>Profesores</h2></td>
            <td align="center"><h2>Estudiantes</h2></td>
        </tr>
    </table>

    <div class="col-md-7">
        <h4>Registro de docentes</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/Docente/CrearDocente">Crear Docente &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h4>Registro de Notas a Estudiantes</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/ResultadosEvaluaciones/CrearResultadosEvaluaciones">Ingresar Notas &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h4>Carreras Profesionales</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/CarrerasProfesionales/CrearCarrerasProfesionales"> Consultar carreras &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h4>Cursos ofertados</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/Cursos/CrearCurso">Consultar Cursos &raquo;</a></p>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <h4>Calificaciones</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/Notas/CrearNotas"> Consultar Notas &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h4>Inscripciones a cursos</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/InscripcionEstudiante/CrearInscripcionEstudiante">Inscribirse&raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h4>Reportes</h4>
        <br />
        <p><a class="btn btn-info" href="http://localhost:52293/ReporteNotasConstancia/CrearReporteNotasConstancia"> Ver Reportes&raquo;</a></p>
    </div>
</div>