
@{
    ViewBag.Title = "CrearCarrerasProfesionales";
}

<br />
<br />

<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Carreras Profesionales</b></h3></div>
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="">

            <table class="table table-bordered" align="center">

                <tr>
                    <td align="center"><h3>Gerencia en Sistemas de Información en Salud</h3></td>
                    <td colspan="4" align="center">     
                        <a href="http://localhost:52293/Pensum/CrearPensum" class="btn btn-success  active" role="button">Ver Pénsum</a>
                    </td>
                </tr>

                <tr>
                    <td align ="center"><h3>Administración en Salud con énfasis en Gestión Ambiental y Sanitaria</h3>
                    <td colspan="4" align="center">
                        <a href="http://localhost:52293/PensumAdministracionAmbiental/CrearPensumAdministracionAmbiental" class="btn btn-success  active" role="button">Ver Pénsum</a> 
                    </td>
                </tr>

                <tr>
                    <td align="center"><h3>Administración en Salud con énfasis en Gestión de Servicios de Salud</h3></td>
                    <td colspan="4" align="center">
                        <a href="http://localhost:52293/PensumAdministracionServiciosSalud/CrearPensumAdministracionServiciosSalud" class="btn btn-success active" role="button">Ver Pénsum</a> 
                    </td>
                </tr>
              

            </table>

        </form>

    </div>
</div>


